
  <div class="mb-3">
    <%= f.label(:name) %>
      <%= f.text_field :name, class: "form-control" %>
  </div>

  <!-- < % = f.hidden_field :user_id, value: current_admin_user.id , class: "form-control" if current_admin_user %> -->

